@page "/Profile/Edit"
@using Microsoft.AspNetCore.Authorization;
@using TaskUserImages.Client.API;
@inject IImageFriendsAPI api
@attribute [Authorize]

<h3>ProfileEdit</h3>
<MudFileUpload Accept=".jpg,.png,.jpeg" T="IReadOnlyList<IBrowserFile>" OnFilesChanged="UploadFiles" AppendMultipleFiles Hidden="false" Class="flex-1" InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" InputStyle="opacity:0"
@ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass">
    <ButtonTemplate>
        <MudPaper Height="300px" Outlined="true" Class="@DragClass">
            <MudText Typo="Typo.h6">Drag file or click here</MudText>
            @foreach (var img in existingImages)
            {
                <MudImage Height="100" Src="@img" />
            }
        </MudPaper>
    </ButtonTemplate>
</MudFileUpload>
<MudImage Height="100" Src="https://localhost:7096/api/Image/Get?imageId=0DA7EEF6-4C56-4A1B-B662-A1E7DF1825DB" />


<MudButton OnClick="SendFilesToServer">Send</MudButton>


@code {
    private static string DefaultDragClass = "relative rounded-lg border-2 border-dashed pa-4 mt-4 mud-width-full mud-height-full z-10";
    private string DragClass = DefaultDragClass;

    IList<IBrowserFile> allFiles = new List<IBrowserFile>();
    private List<string> existingImages = new();


    private void UploadFiles(InputFileChangeEventArgs e)
    {
        ClearDragClass();
        var files = e.GetMultipleFiles();
        foreach (var file in files)
        {
            this.allFiles.Add(file);
        }
    }

    //Лучше бы Task WhenAll?
    private async Task SendFilesToServer()
    {
        foreach (var file in allFiles)
        {
            using (Stream stream = file.OpenReadStream())
            {
                byte[] buffer = new byte[file.Size];
                int length = await stream.ReadAsync(buffer);
                await api.UploadImage(new(buffer));
            }
        }
    }

    private void SetDragClass()
    {
        DragClass = $"{DefaultDragClass} mud-border-primary";
    }

    private void ClearDragClass()
    {
        DragClass = DefaultDragClass;
    }
}
